body{
    background-color: blueviolet;
    padding:0 10px;
}
.container{
    border:2px solid black;
    max-width:500px;
    width:100%;
    margin:20px auto;
    background-color:rgb(248, 242, 233);
    padding:30px;
    box-shadow: 1px 2px rgba(0,0,0,0.125);
}
.container .title{
font-size: 24px;
font-weight: 700;
margin-bottom: 25px;
color: blueviolet;
text-transform: uppercase;
text-align:center;
}
.cointainer.form.input_field{
    padding-bottom: 20px;
    display:flex;
    align-items:center;
}
.cointainer.form.input label{
    
    width:200px;
    margin-right:10px;
    font-size:14px;
    padding:15px;
}
.cointainer.form.input_field.input{
border:2px solid;
width:100px;
outline:none;
border:1px solid blueviolet;


}